{
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"printWidth": 120,
	"trailingComma": "all",
	"plugins": ["prettier-plugin-tailwindcss"]
}
